@using Nop.Web.Framework.Models.DataTables
@using Nop.Plugin.Baramjk.Framework.Utils
@using Nop.Plugin.Baramjk.LocationDetector.Domain


@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Html.SetActiveMenuItemSystemName($"{MenuUtils.BaramjkMenuSystemName}_LocationDetector");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        Location Detector
    </h1>

    <div class="float-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add
        </a>
    </div>
</div>
<div class="card card-default">
    <div class="card-body">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @await Html.PartialAsync("Table", new DataTablesModel
               {
                   Name = "foods-grid",
                   UrlRead = new DataUrl("GetCountryCurrencyMappings", "LocationDetectorAdmin", null),
                   // UrlDelete = new DataUrl("DeleteFood", "FoodAdmin", null),
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   ColumnCollection = new List<ColumnProperty>
                   {
                       new ColumnProperty(nameof(CountryCurrencyMapping.Id))
                       {
                           IsMasterCheckBox = true,
                           Render = new RenderCheckBox("checkbox_products"),
                           ClassName = NopColumnClassDefaults.CenterAll,
                           Width = "50",
                           Visible = false
                       },
                       new ColumnProperty(nameof(CountryCurrencyMapping.IsoCountryCode))
                       {
                           Title = "IsoCountryCode",
                           Width = "100"
                       },
                       new ColumnProperty(nameof(CountryCurrencyMapping.IsoCurrencyCode))
                       {
                           Title = "IsoCurrencyCode",
                           Width = "100"
                       },
                       new ColumnProperty(nameof(CountryCurrencyMapping.Id))
                       {
                           Title = "Edit",
                           Width = "100",
                           ClassName = NopColumnClassDefaults.Button,
                           Render = new RenderButtonEdit(new DataUrl("Edit"))
                       },
                   }
               })
    </div>
</div>