@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nop.Plugin.Baramjk.Core.MyFatoorah.Models.PaymentFeeRule
@using Nop.Web.Framework.Models.DataTables
@model Nop.Plugin.Baramjk.Core.MyFatoorah.Models.PaymentFeeRule.PaymentFeeRuleSearchModel

@{
    ViewBag.PageTitle = T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.List").Text;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Html.SetActiveMenuItemSystemName($"{SystemName}.PaymentFeeRule.List");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.List")
    </h1>
    <div class="float-right">
        <a asp-action="Create" asp-controller="PaymentFeeRule" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "payment-fee-rules-grid",
                            UrlRead = new DataUrl("List", "PaymentFeeRule", null),
                            UrlDelete = new DataUrl("Delete", "PaymentFeeRule", null),
                            UrlUpdate = new DataUrl("Edit", "PaymentFeeRule", null),
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,

                            ColumnCollection = new List<ColumnProperty>
                            {
                                new(nameof(PaymentFeeRuleItemModel.PaymentMethodName))
                                {
                                    Width = "200",
                                    Title = T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.PaymentMethodName").Text,
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                },
                                new(nameof(PaymentFeeRuleItemModel.CountryName))
                                {
                                    Width = "200",
                                    Title = T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.CountryName").Text,
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                },
                                new(nameof(PaymentFeeRuleItemModel.AdditionalFee))
                                {
                                    Title = T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.AdditionalFee").Text,
                                    Width = "200",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                },

                                new(nameof(PaymentFeeRuleItemModel.AdditionalFeePercentage))
                                {
                                    Title = T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.AdditionalFeePercentage").Text,
                                    Width = "200",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },

                                new(nameof(PaymentFeeRuleItemModel.Active))
                                {
                                    Width = "200",
                                    Title = T("Plugins.Payments.MyFatoorah.Admin.PaymentFeeRule.Active").Text,
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
                               
                                new(nameof(PaymentFeeRuleItemModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                },
                                new(nameof(PaymentFeeRuleItemModel.Id))
                                {
                                    Title = T("Admin.Common.Delete").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>