@using Microsoft.AspNetCore.Routing
@using Nop.Plugin.Baramjk.PhotoPlatform.Areas.Admin.Models.ActorEventTimeSlots
@using Nop.Web.Framework.Models.DataTables


@{
    ViewBag.PageTitle = T("Nop.Plugin.Baramjk.PhotoPlatform.Admin.ActorEventTimeSlots.Title").Text;
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">

        <div class="form-horizontal">

            <div class="card card-default">
                <div class="card-header ">

                    <h5> @T("Nop.Plugin.Baramjk.PhotoPlatform.Admin.ActorEventTimeSlots.Title").Text - @Model.TimeSlotDateTime.ToString("G")</h5>

                </div>

                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "available-actors-grid",
                        UrlRead = new DataUrl(
                            "List",
                            "ActorEventTimeSlot",
                            new RouteValueDictionary
                            {
                                ["TimeSlotId"] = Model.TimeSlotId
                            }
                        ),
                        UrlUpdate = new DataUrl(
                            "Edit",
                            "ActorEventTimeSlot",
                            new RouteValueDictionary
                            {
                                ["TimeSlotId"] = Model.TimeSlotId
                            }),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,

                        ColumnCollection = new List<ColumnProperty>
                        {
                            new(nameof(ActorEventTimeSlotsItemModel.ActorName))
                            {
                                Title = "Actor Name",
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ActorEventTimeSlotsItemModel.ActorPictureUrl))
                            {
                                Title = "Picture",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderPicture()
                            },
                            new(nameof(ActorEventTimeSlotsItemModel.Active))
                            {
                                Title = "Active",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean(),
                                Editable = true,
                                EditType = EditType.Checkbox
                            },
                            new(nameof(ActorEventTimeSlotsItemModel.ActorEventId))
                            {
                                Title = "Edit",
                                Width = "50",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonsInlineEdit()
                            },
                        }
                    })

                </div>
            </div>
        </div>
    </div>

</section>