@using Nop.Plugin.Baramjk.ContactUs.Areas.Admin.Models.ViewModels.ContactInfos
@using Nop.Web.Framework.Models.DataTables
@model Nop.Plugin.Baramjk.ContactUs.Areas.Admin.Models.ViewModels.ContactInfos.ContactInfoSearchModel

@{
    ViewBag.PageTitle = T("Baramjk.ContactUs.Admin.ContactInfos.Title").Text;
    Html.SetActiveMenuItemSystemName($"{SystemName}.ContactInfos.List");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Baramjk.ContactUs.Admin.ContactInfos.Title")
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "contact-infos-grid",
                        UrlRead = new DataUrl("List", "ContactInfo", null),
                        UrlDelete = new DataUrl("DeleteById", "ContactInfo", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new(nameof(ContactInfoViewModel.FullName))
                            {
                                Title = T("Baramjk.ContactUs.Admin.ContactInfos.FullName").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ContactInfoViewModel.Email))
                            {
                                Title = T("Baramjk.ContactUs.Admin.ContactInfos.Email").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ContactInfoViewModel.SubjectName))
                            {
                                Title = T("Baramjk.ContactUs.Admin.ContactInfos.Subject").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ContactInfoViewModel.PaymentStatus))
                            {
                                Title = T("Baramjk.ContactUs.Admin.ContactInfos.PaymentStatus").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ContactInfoViewModel.CountryName))
                            {
                                Title = T("Baramjk.ContactUs.Admin.ContactInfos.Country").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ContactInfoViewModel.PhoneNumber))
                            {
                                Title = T("Baramjk.ContactUs.Admin.ContactInfos.PhoneNumber").Text,
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new(nameof(ContactInfoViewModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "50",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            },
                            new(nameof(ContactInfoViewModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "50",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</section>